<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />
    <title>oldProduct</title>
</head>

<body>
    <h1>Old Product Page!</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut numquam fugit eum, deserunt beatae inventore
        voluptates fuga illum! Sed, quis fuga autem aliquid corporis iure esse accusantium quae. Cum, placeat.</p>
</body>

</html>