<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />
    <title>SubDir</title>
</head>

<body>
    <h1>subDir/index.html</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque commodi voluptate laborum autem, excepturi tempora
        optio recusandae nobis deserunt architecto, voluptatum, minima possimus quibusdam facilis eveniet accusantium
        saepe cupiditate dolore!</p>
</body>

</html>